/* Variables */

/* Colors */

$color-one: white;
$color-two: black;
$color-three: gold;
$color-four: rgb(240, 240, 240);
$color-five: darkgrey;

/* Fonts */

$font-one: 'Geologica', sans-serif;
$font-two: 'Merriweather', serif;
$font-three: 'Qwitcher Grypen', cursive;

/* Other */
$transition: all 1s;

/* Styles */

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $font-one;
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: $color-three;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
    justify-content: center;
}

section {
    padding: 96px 0;
}

/* Splash */

.splash {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255,255,255,0)), url("/images/back.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    gap: 30%;
    flex-direction: column;

/* Navigation inside Splash */

.navigation {
    width: 100%;
    padding: 12px 0;
    display: flex;
    flex-direction: row;

    .container {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 32px;

        h5 {
            font-family: $font-three;
            color: $color-three;
            font-size: 48px;
            transition: $transition;
        }

        h5:hover {
            transform: scale(1.2) rotate(5deg);
            cursor: pointer;
        }
    
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 38px;
    
            li {
                transition: $transition;
    
                a {
                    color: $color-one;
                    text-decoration: none;
                }
            }

            li:hover {
                transform: scale(1.2) rotate(5deg);
                cursor: pointer;
            }
        }

    }
}

    .splash-inner {
        width: 100%;
        color: $color-three;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: $color-one;
            font-family: $font-two;
            font-style: italic;
            margin: 0;
        }

        h2 {
            color: $color-one;
            font-size: 72px;
            margin: 0;
        }

        a {
            display: inline-block;
            min-width: 250px;
            margin: 24px auto 0 auto;
            padding: 20px;
            border-radius: 5px;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-width: 2px;
            border-style: solid;
            background-color: inherit;
            background-position: 100% 0;
            background-size: 300%;
            border-color: $color-three;
            color: $color-three;
            background-image: -webkit-linear-gradient(90deg, $color-three 50%, transparent 50%);
            background-image: -moz-linear-gradient(90deg, $color-three 50%, transparent 50%);
            background-image: -o-linear-gradient(90deg, $color-three 50%, transparent 50%);
            background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
            transition: $transition;
        }

        a:hover {
            background-position: 0 100%;
            color: $color-one;
        }
    }
}

/* Services */

.our-services {
    color: $color-two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        font-family: $font-two;
        font-style: italic;
        margin-top: 0;
        color: $color-five;
    }


    .boxes-wrapper {
        padding-top: 56px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .single-box {
            flex: 0 0 30%;
            display: block;

            a {
                font-size: 0px;
                display: block;
                text-align: center;
                object-fit: cover; 
                position: center;  
                display: flex;
                justify-content: center;
                align-items: top;

                i {
                    background-color: $color-one;
                    border: 3px solid $color-three;
                    color: $color-three;
                    font-size: 40px;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $transition;
                }

                i:hover {
                    transform: scale(1.2) rotate(360deg);
                    cursor: pointer;
            }

            }

            h2 {
                text-align: center;
                font-size: 16px;
                margin-top: 12px;
                margin-bottom: 12px;
            }

            p {
                text-align: center;
                color: $color-five;
            }
        }
    }
}

/* Our Portfolio */

.our-portfolio {
    color: $color-two;
    background-color: $color-four;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {

        h2 {
            text-align: center;
            font-size: 48px;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        p {
            text-align: center;
            font-family: $font-two;
            font-style: italic;
            margin-top: 0;
            margin-bottom: 72px;
            color: $color-five;
        }

        .boxes-wrapper {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 5%;

            .our-portfolio-single-box {
                background-color: $color-one;
                flex: 0 0 30%;
                width: 30%;
                margin-bottom: 32px;
                list-style-type: none;

                .image {
                    width: 100%;
                    height: 75%;
                    transition: $transition;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                
                }

                .image:hover {
                    filter: brightness(25%);
                    cursor: pointer;
                }

                .image:hover ~ .description {
                    transform: scale(1.2);
                }

                .description {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    transition: $transition;

                    h2 {
                        font-size: 18px;
                        padding: 0;
                        margin: 0;
                    }

                    p {
                        font-size: 16px;
                        padding: 0;
                        margin: 0;
                    }

                }
            }
        }

    }

}

/* Footer */

.page-footer {
    padding: 32px 0;

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5%;

            h5 {
                width: 30%;
                color: $color-five;
                text-align: center;
            }

            ul {
                width: 30%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0;
                gap: 10px;
        
                li {

                    a {
                        font-size: 0px;
                        text-decoration: none;
                        object-fit: cover; 
                        position: center;  
                        display: flex;
                        justify-content: center;
                        align-items: top;
        
                        i {
                            background-color: $color-two;
                            color: $color-one;
                            font-size: 30px;
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: $transition;
                        }
        
                        i:hover {
                            transform: scale(1.2);                                
                            color: $color-three;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

/* Media */

@media (min-width: 320px) and (max-width: 991px) {

/* Navigation inside Splash RWD */

.splash .navigation .container h5 {
    font-size: 46px;
}

.splash .navigation .container ul {
    gap: 8px;
}

.splash .navigation .container ul li a {
    font-size: 12px;
}

/* Splash inner RWD */

.splash .splash-inner h1 {
    font-size: 24px;
}

.splash .splash-inner h2 {
    font-size: 32px;
}

.splash .splash-inner a {
    margin-top: 6px;
}

/* Our Services RWD */

.our-services {
    padding: 60px 24px;
}

.our-services .container h2 {
    font-size: 32px;
}

.our-services .boxes-wrapper {
    padding: 0;
    margin-top: 48px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 12px;
}

.our-services .boxes-wrapper .single-box {
    height: 300px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 0;
    display: block;
    background-color: $color-one;
    margin-bottom: 0;
}

/* Our Portfolio RWD */ 

.our-portfolio {
    padding: 60px 24px;
}

.our-portfolio .container h2 {
    font-size: 32px;
}

.our-portfolio .container .boxes-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 0;
    margin-bottom: 0;
    gap: 24px;
}

.our-portfolio .container .boxes-wrapper .our-portfolio-single-box {
    width: 100%;
}

/* Footer RWD */

.page-footer {
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.page-footer .container h5 {
    width: 100%;
    color: $color-five;
    text-align: center;
    margin: 6px 0;
}

.page-footer .container ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 6px 0;
}
    
}
