/* Variables */

/* Colors */

$color-one: white;
$color-two: black;
$color-three: gold;
$color-four: lightgrey;

/* Fonts */

/* Other */
$transition: all 1s;

/* Styles */

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: $color-three;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
    justify-content: center;
}

section {
    padding: 96px 0;
}

/* Splash */

.splash {
    height: 100vh;
    background-image: url("https://i.postimg.cc/NG93kGMr/background-splash.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;

    /* Navigation inside Splash */

.navigation {
    width: 100%;
    padding: 12px 0;
    display: flex;
    flex-direction: row;

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h5 {
            color: $color-three;
            font-size: 24px;
            transition: $transition;
        }

        h5:hover {
            transform: scale(1.2) rotate(5deg);
            cursor: pointer;
        }
    
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 28px;
    
            li {
                transition: $transition;
    
                a {
                    color: $color-one;
                    text-decoration: none;
                }
            }

            li:hover {
                transform: scale(1.2) rotate(5deg);
                cursor: pointer;
            }
        }

    }
}

    .splash-inner {
        width: 100%;
        color: $color-three;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: $color-one;
        }

        h2 {
            color: $color-one;
        }

        a {
            display: inline-block;
            min-width: 160px;
            margin: 24px auto 0 auto;
            padding: 16px;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-width: 2px;
            border-style: solid;
            background-color: inherit;
            background-position: 100% 0;
            background-size: 300%;
            border-color: $color-three;
            color: $color-three;
            background-image: -webkit-linear-gradient(90deg, $color-three 50%, transparent 50%);
            background-image: -moz-linear-gradient(90deg, $color-three 50%, transparent 50%);
            background-image: -o-linear-gradient(90deg, $color-three 50%, transparent 50%);
            background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
            transition: $transition;
        }

        a:hover {
            background-position: 0 100%;
            color: $color-one;
        }
    }
}

/* Services */

.our-services {
    color: $color-two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }


    .boxes-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .single-box {
            flex: 0 0 20%;
            display: block;

            a {
                font-size: 0px;
                display: block;
                text-align: center;
                object-fit: cover; 
                position: center;  
                display: flex;
                justify-content: center;
                align-items: top;

                i {
                    background-color: $color-one;
                    border: 3px solid $color-three;
                    color: $color-three;
                    font-size: 40px;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $transition;
                }

                i:hover {
                    transform: scale(1.2) rotate(360deg);
                    cursor: pointer;
            }

            }

            h2 {
                text-align: center;

            }

            p {
                text-align: center;

            }
        }
    }
}

/* Our Portfolio */

.our-portfolio {
    color: $color-two;
    background-color: $color-four;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {

        h2 {
            text-align: center;
        }
    
        p {
            text-align: center;
        }

        .boxes-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .our-portfolio-single-box {
                background-color: $color-one;
                flex: 0 0 30%;
                width: 25%;
                margin-bottom: 32px;

                .image {
                    width: 100%;
                    height: 75%;
                    transition: $transition;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                
                }

                .image:hover {
                    filter: brightness(25%);
                    cursor: pointer;
                }

                .image:hover ~ .description {
                    transform: scale(1.2);
                }

                .description {
                    width: 100%;
                    height: 25%;
                    transition: $transition;

                    h2 {

                    }

                    p {

                    }

                }
            }
        }

    }

}

/* Footer */

.page-footer {
    padding: 32px 0;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            h5 {
                width: 100%;
                color: $color-two;
                transform: translateY(32px);
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
        
                li {
        
                    a {
                        font-size: 0px;
                        object-fit: cover; 
                        position: center;  
                        display: flex;
                        justify-content: center;
                        align-items: top;
        
                        i {
                            background-color: $color-two;
                            color: $color-one;
                            font-size: 30px;
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: $transition;
                        }
        
                        i:hover {
                            transform: scale(1.2);                                
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

