/* Variables */
/* Colors */
/* Fonts */
/* Other */
/* Styles */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Geologica", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: gold;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: auto;
  justify-content: center;
}

section {
  padding: 96px 0;
}

/* Splash */
.splash {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url("/images/back.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  gap: 30%;
  flex-direction: column;
  /* Navigation inside Splash */
}
.splash .navigation {
  width: 100%;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
}
.splash .navigation .container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}
.splash .navigation .container h5 {
  font-family: "Qwitcher Grypen", cursive;
  color: gold;
  font-size: 48px;
  transition: all 1s;
}
.splash .navigation .container h5:hover {
  transform: scale(1.2) rotate(5deg);
  cursor: pointer;
}
.splash .navigation .container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 38px;
}
.splash .navigation .container ul li {
  transition: all 1s;
}
.splash .navigation .container ul li a {
  color: white;
  text-decoration: none;
}
.splash .navigation .container ul li:hover {
  transform: scale(1.2) rotate(5deg);
  cursor: pointer;
}
.splash .splash-inner {
  width: 100%;
  color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splash .splash-inner h1 {
  color: white;
  font-family: "Merriweather", serif;
  font-style: italic;
  margin: 0;
}
.splash .splash-inner h2 {
  color: white;
  font-size: 72px;
  margin: 0;
}
.splash .splash-inner a {
  display: inline-block;
  min-width: 250px;
  margin: 24px auto 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  border-color: gold;
  color: gold;
  background-image: linear-gradient(90deg, gold 50%, transparent 50%);
  transition: all 1s;
}
.splash .splash-inner a:hover {
  background-position: 0 100%;
  color: white;
}

/* Services */
.our-services {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-services h2 {
  text-align: center;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}
.our-services p {
  text-align: center;
  font-family: "Merriweather", serif;
  font-style: italic;
  margin-top: 0;
  color: darkgrey;
}
.our-services .boxes-wrapper {
  padding-top: 56px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-services .boxes-wrapper .single-box {
  flex: 0 0 30%;
  display: block;
}
.our-services .boxes-wrapper .single-box a {
  font-size: 0px;
  display: block;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
  display: flex;
  justify-content: center;
  align-items: top;
}
.our-services .boxes-wrapper .single-box a i {
  background-color: white;
  border: 3px solid gold;
  color: gold;
  font-size: 40px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.our-services .boxes-wrapper .single-box a i:hover {
  transform: scale(1.2) rotate(360deg);
  cursor: pointer;
}
.our-services .boxes-wrapper .single-box h2 {
  text-align: center;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.our-services .boxes-wrapper .single-box p {
  text-align: center;
  color: darkgrey;
}

/* Our Portfolio */
.our-portfolio {
  color: black;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-portfolio .container h2 {
  text-align: center;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}
.our-portfolio .container p {
  text-align: center;
  font-family: "Merriweather", serif;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 72px;
  color: darkgrey;
}
.our-portfolio .container .boxes-wrapper {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box {
  background-color: white;
  flex: 0 0 30%;
  width: 30%;
  margin-bottom: 32px;
  list-style-type: none;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .image {
  width: 100%;
  height: 75%;
  transition: all 1s;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .image img {
  width: 100%;
  height: 100%;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .image:hover {
  filter: brightness(25%);
  cursor: pointer;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .image:hover ~ .description {
  transform: scale(1.2);
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .description {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  transition: all 1s;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .description h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.our-portfolio .container .boxes-wrapper .our-portfolio-single-box .description p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* Footer */
.page-footer {
  padding: 32px 0;
}
.page-footer .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.page-footer .container h5 {
  width: 30%;
  color: darkgrey;
  text-align: center;
}
.page-footer .container ul {
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 10px;
}
.page-footer .container ul li a {
  font-size: 0px;
  text-decoration: none;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
  display: flex;
  justify-content: center;
  align-items: top;
}
.page-footer .container ul li a i {
  background-color: black;
  color: white;
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.page-footer .container ul li a i:hover {
  transform: scale(1.2);
  color: gold;
  cursor: pointer;
}

/* Media */
@media (min-width: 320px) and (max-width: 991px) {
  /* Navigation inside Splash RWD */
  .splash .navigation .container h5 {
    font-size: 46px;
  }
  .splash .navigation .container ul {
    gap: 8px;
  }
  .splash .navigation .container ul li a {
    font-size: 12px;
  }
  /* Splash inner RWD */
  .splash .splash-inner h1 {
    font-size: 24px;
  }
  .splash .splash-inner h2 {
    font-size: 32px;
  }
  .splash .splash-inner a {
    margin-top: 6px;
  }
  /* Our Services RWD */
  .our-services {
    padding: 60px 24px;
  }
  .our-services .container h2 {
    font-size: 32px;
  }
  .our-services .boxes-wrapper {
    padding: 0;
    margin-top: 48px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 12px;
  }
  .our-services .boxes-wrapper .single-box {
    height: 300px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 0;
    display: block;
    background-color: white;
    margin-bottom: 0;
  }
  /* Our Portfolio RWD */
  .our-portfolio {
    padding: 60px 24px;
  }
  .our-portfolio .container h2 {
    font-size: 32px;
  }
  .our-portfolio .container .boxes-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 0;
    margin-bottom: 0;
    gap: 24px;
  }
  .our-portfolio .container .boxes-wrapper .our-portfolio-single-box {
    width: 100%;
  }
  /* Footer RWD */
  .page-footer {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .page-footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }
  .page-footer .container h5 {
    width: 100%;
    color: darkgrey;
    text-align: center;
    margin: 6px 0;
  }
  .page-footer .container ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 6px 0;
  }
}/*# sourceMappingURL=style.css.map */